module.export = function (api) {
  api.cache(true);

  const preset = ['@babel/preset-env'];
  const plugins = [
    ["@babel/plugin-proposal-decorators", {
      "decoratorsBeforeExport": true
    }],
    ["@babel/plugin-transform-runtime", {
      "absoluteRuntime": true
    }],
    "@babel/plugin-proposal-class-properties",
    "jsx-vue-functional",
    "transform-vue-jsx",
    "lodash"
  ];

  return {
    preset,
    plugins,
  }
}
